.header {
  background: #364051;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
}

.header__title {
  color: floralwhite;
  text-decoration: none;
  padding-left: 7px;
}

html {
  font-size: 90%;
}
body {
  font-family: Helvetica, Arial, sans-serif
}

table{
  border-collapse:separate;
  text-align: center;
  width: 75%;
  height: 100px;
}
.error_message {
  font-weight: bolder;
  font-size: large;
  font-style: italic;
  text-align: center;
}

.invoices__table {
  padding-top: 15px;
}
